@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&family=Signika+Negative:wght@300&display=swap');
$signika:'Signika Negative', sans-serif;
$poiret:'Poiret One', cursive;
$secular: 'Secular One', sans-serif;
$pacifico: 'Pacifico', cursive;

.card__contact{

    background-color: rgb(222, 222, 222, 0.9 );
    margin-top: 50px;
    height: 500px;
    border-radius: 10px;

    
}

.test{
    width: 100%;
    
    height: auto;
}


.contenedor-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 7px;

    a{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    svg{
        width: 35px;
        height: 35px;
        margin-bottom: 3px;
    }
}
