@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&family=Signika+Negative:wght@300&display=swap');
$signika:'Signika Negative', sans-serif;
$poiret:'Poiret One', cursive;
$secular: 'Secular One', sans-serif;
$pacifico: 'Pacifico', cursive;


body{
    background-color: black;
    /* margin-bottom: 100px; */
}

.filacajetuda{
    margin-bottom: 100px;
}

.card__jobs{
    width: 80%;
    margin-top: 90px;
    
    padding: 30px;
    
    background-color: rgb( 247, 245, 245, 1);
    border-radius: 10px;

    h3{
        text-decoration: underline;
    }
    p, h3{
        color: black;
        font-family: $signika;
    }
}

.iframe{
    width: 100%;
    height: 100%;
}