@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&family=Signika+Negative:wght@300&display=swap');
$signika:'Signika Negative', sans-serif;
$poiret:'Poiret One', cursive;
$secular: 'Secular One', sans-serif;
$pacifico: 'Pacifico', cursive;

.menu{
    width: 40%;
    margin-right: 50px;

    li{
        list-style-type: none;

        a{
            text-decoration: none;
            color: white;
            font-family: $signika;

            &:hover{
                color:lightseagreen;
            }

        }

        a.active{
            color: lightskyblue;
        }
            
    }
}

.links{
    font-family: $signika;
    &:hover{
        color:lightseagreen !important;
    }
}

.active{
    color: black !important;
}



.brand{
    color: white !important;
    font-family: $signika;
    cursor: pointer;
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 107px;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #171616;
    border: 1px solid whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #212529;
    padding-left: 35px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}

.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}

.stars, .twinkling{
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  .stars {
    z-index: 0;
    background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top center;
  }
  
  .twinkling {
    z-index: 1;
    background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png") repeat top center;
    animation: move-twink-back 200s linear infinite;
  }

  .dark-theme, .dark-theme h2{
      color: black !important;
      font-weight: bold;
      text-shadow: unset !important;

      .knowMoreAboutMe b{
        padding: 7px;
        background: #ecb46a85;
      }

      .presentacion{
        box-shadow: -17px -12px 85px #81462a;
        background: linear-gradient(to left, #8040219e, #efd29d 50%, #f4e7d0e3 75%, #f4e7d0e6 75%);
        text-shadow: 0px -2px 3px #e9ecef;
        animation: light-on 1s linear;
      }
      
      b{
        color: black !important;
        font-weight: bold;
      }

      img.fotocv{
      box-shadow: 1px 1px 15px #dee2e6;
      }
  }

  .dark-theme-about > div{
    background-color:#f5f5f5de;
      p,h3,ul,li{
        color: black !important;
        font-weight: bold;
      }
      b{
        font-weight: bold;
        color: #842029 !important;
      }
      .skills, img.skillsExcel-about {
          border: unset !important;
      }
  }

  .navbar.dark-theme-nav {
    background: linear-gradient(to right, #baa090, #d97e1696 100%, #fdf2e3 100%);
    background-color: unset !important;
    animation: light-on 1s linear;
    a{
        color: black !important;
    }
    .nav-link.active {
        box-shadow: 0px -4px 53px #030f1c;
    }
    a:hover{
            color:rgb(240, 72, 42) !important;
    }

}

  @keyframes light-on{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
  }
  
  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  